// home.component.scss

$blue-primary: #2874f0;
$gray-light: #f7f7f7;
$gray-border: #ddd;
$text-gray: #555;
$text-white: #fff;
$shadow-hover: 0 2px 12px rgba(0, 0, 0, 0.1);

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blue-primary;
  color: $text-white;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  .search-bar {
    flex-grow: 1;
    margin: 0 2rem;

    input {
      width: 100%;
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid $gray-border;
      font-size: 1rem;
    }
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
  }

  .nav-links {
    a {
      color: $text-white;
      margin-left:.5rem;
      margin-right: .5rem;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.banner-carousel {
  margin-top: 5rem;
  margin-bottom: 2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  img {
    width: 100%;
    border-radius: 8px;
    box-shadow: $shadow-hover
  }
}